body {
  font-family: "Verdana";
  height: 100%;
  margin: 0px;
}
html {
  height: 100%;
}
#stage {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
}
#content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #333;
}
.menu {
  position: absolute;
  overflow: hidden;
  color: #888;
  border-right: 1px solid #000;
}
.button {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  height: 25px;
  text-align: center;
  cursor: pointer;
  cursor: hand;
  background-color: #444;
  user-select: none;
  -moz-user-select: -moz-none;
  border: 1px solid #000;
  margin-right: -1px;
}
.button:hover {
  color: #d5d5d5;
}
.widget {
  position: absolute;
  overflow: hidden;
  border: 1px solid #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #444;
  -moz-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.4);
  -webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.4);
  box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.4);
}
.widget .title {
  height: 20px;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
  font-size: 14px;
  border-bottom: 1px solid #000;
  background-color: #515151;
  user-select: none;
  -moz-user-select: -moz-none;
}
.widget .title:hover {
  background-color: #6b6b6b;
}
.widget .title:active {
  background-color: #848484;
}
.widget .close {
  float: left;
  width: 20px;
  height: 20px;
  cursor: pointer;
  cursor: hand;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-bottom: -widgetBorderWidth;
  border-top-left-radius: 10px;
  background-color: #5e5e5e;
  user-select: none;
  -moz-user-select: -moz-none;
}
.widget .close:hover {
  background-color: #787878;
}
.widget .close:active {
  background-color: #919191;
}
.widget .shade {
  float: right;
  width: 20px;
  height: 20px;
  cursor: pointer;
  cursor: hand;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-bottom: -widgetBorderWidth;
  border-top-right-radius: 10px;
  background-color: #6a6a6a;
  user-select: none;
  -moz-user-select: -moz-none;
}
.widget .shade:hover {
  background-color: #848484;
}
.widget .shade:active {
  background-color: #9d9d9d;
}
.widget .size {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 10px;
  height: 10px;
  cursor: move;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  background-color: #3c3c3c;
  user-select: none;
  -moz-user-select: -moz-none;
}
.widget .size:hover {
  background-color: #565656;
}
.widget .size:active {
  background-color: #6f6f6f;
}
