body {
    background-color:#333;
}

#content {
    position:absolute;
    top: 10px;
    left: 10px;
    width:800px;
    height:800px;
    border:1px solid black;
}

.menu {
    position:absolute;
}

.a {
    position:absolute;
    top: 300px;
    left: 200px;
    width: 100px;
    height: 100px;
    background-color: #888;
}

.widget {
    position:absolute;
    overflow: hidden;
    top: 10px;
    left: 300px;
    width: 200px;
    height: 200px;
    background-color: #f00;
}

.widget .title {
    height: 20px;
    text-align: center;
    background-color: #f80;
}

.widget .close {
    float: left;
    width: 20px;
    height: 20px;
    background-color: #ff0;
    cursor: pointer;
    cursor: hand;
}

.widget .shade {
    float: right;
    width: 20px;
    height: 20px;
    background-color: #fa0;
    cursor: pointer;
    cursor: hand;
}

* {
    font-family: "Verdana";
}

.button {
    width: 50px;
    height: 25px;
    background-color: #444;
    color: white;
    text-align: center;
    cursor: pointer;
    cursor: hand;
    user-select: none;
    -moz-user-select: -moz-none;
}
