
// ____________________________________ functions

shadow()
    -webkit-box-shadow: shadowDef
    box-shadow:         shadowDef

shadowInner()
    -webkit-box-shadow: shadowInnerDef
    box-shadow:         shadowInnerDef

defaultCursor()
    cursor:             default

handCursor()
    cursor:             pointer

textCursor()
    cursor:             text
    -moz-user-select:   text

bgColorHover(c)
    background-color:   c
    &:hover
        background-color: lighten(c, 5)
    &:active
        background-color: lighten(c, 10)

noSelection()
    user-select:        none
    -moz-user-select:   none

// ____________________________________ icons

.icon
  width:                20px
  height:               20px
  border:               0px
  background-color:     transparent
  text-align:           center
  vertical-align:       top
  color:                colors.bg
  &:hover
      color:            colors.button-hover-text
  &:active
      color:            colors.button-active-text

  .octicon
      position: relative
      top: -2px

.menu .icon
      width:                30px
      height:               30px
      color:                textColors.menu
      &:hover
          color:            textColors.menu-hover
      &:active
          color:            textColors.menu-active
      .octicon
          top: 0px

// ____________________________________ toplevel

body
    font-family:      "Verdana"
    height:           100%
    margin:           0px

html
    height:           100%

canvas
    background-color: rgba(255,0,0,0.5)

a
    text-decoration: none
    color:           textColors.link
    &:hover
        color:       textColors.link-hover

.about-svg
    text-align:       center

.about-svg-path
    fill:            textColors.link

#stage
    position:         relative
    width:            100%
    height:           100%
    overflow:         hidden
    color:            textColors.global
    user-select:      none

#stage_content
    position:         relative
    width:            100%
    height:           100%
    overflow:         hidden
    background-color: colors.stage

#stage_svg
    position:         absolute
    width:            100%
    height:           100%
    background-color: rgba(0,0,0,0)

#stage_canvas
    position:         absolute
    width:            100%
    height:           100%
    background-color: rgba(255,255,255,0.15)

.tiny-text
    font-size:        10px
    color:            textColors.discreet

// ____________________________________ button

.button
    handCursor()
    noSelection()
    overflow:             hidden
    box-sizing:           border-box
    padding-left:         6px
    padding-right:        6px
    text-align:           center
    font-size:            14px
    font-weight:          bold
    border-radius:        buttonRadius
    border:               borders.button
    background-color:     colors.button
    color:                textColors.button
    height:               buttonHeight
    &:hover
        background-color: colors.button-hover
        color:            colors.button-hover-text
    &:hover *
        color:            colors.button-hover-text
    &:active
        background-color: colors.button-active
        color:            colors.button-active-text
    &:hover *
        color:            colors.button-active-text

// ____________________________________ toggle

.toggle
    text-align:           left
    background-color:     colors.toggle
    color:                colors.toggle-text

    & > .octicon
      padding-right:      6px

    &:hover
        background-color: colors.toggle-hover
        color:            colors.toggle-hover-text
    &:hover *
        color:            colors.toggle-hover-text
    &:active
        background-color: colors.toggle-active
        color:            colors.toggle-active-text
    &:hover *
        color:            colors.toggle-active-text

.toggle.on
    background-color:     colors.toggle-on
    color:                colors.toggle-on-text

.tool-button
    padding-left: 0
    padding-right: 0

.handle
    handCursor()
    position:         absolute
    box-sizing:       border-box
    border-radius:    10px
    width:            20px
    height:           20px
    margin-left:      - 10px
    margin-top:       - 10px
    background-color: colors.button-hover

.handle.highlight
    background-color: colors.connector-connectable

// ____________________________________ menus

.menu
    position:         absolute
    height:           menuHeight
    overflow:         hidden
    & > *
        noSelection()
        color:        textColors.menu

#menu
    border-bottom-right-radius: 6px

#tool
    border-bottom-left-radius: 6px

.menu .button
    overflow:         hidden
    float:            left
    font-weight:      normal
    height:           menuHeight
    padding-top:      2px
    bgColorHover(     colors.menu )
    border-radius:    0
    &:hover
        color: textColors.menu-hover
    &:active
        color: textColors.menu-active

// ____________________________________ windows

.window
    position:         absolute
    overflow:         hidden
    border:               borders.bg
    background-color:     colors.bg
    border-top-left-radius:     widgetTopRadius
    border-top-right-radius:    widgetTopRadius
    border-bottom-left-radius:  widgetBotRadius
    border-bottom-right-radius: widgetBotRadius
    shadow()

.content
    padding-left:  10px
    padding-right: 10px
    padding-top:   10px

.content > div
    margin-bottom: 10px

.window .title
    color:            textColors.title
    height:           widgetHeaderSize
    text-align:       center
    vertical-align:   top
    overflow:         hidden
    font-size:        widgetTitleFontSize
    border-bottom:    borders.title
    bgColorHover(colors.title)
    noSelection()
    defaultCursor()

.window .close
.window .window-button-left
    float:            left
    border-right:     borders.close
    border-bottom:    borders.close
    bgColorHover(colors.close)

.window .shade
.window .window-button-right
    float:            right
    border-left:      borders.shade
    border-bottom:    borders.close
    bgColorHover(colors.shade)

.window .shade
   width:             widgetHeaderSize

.window .shade
.window .close
   & *
       color: colors.title
   &:hover *
       color: colors.button-hover-text
   &:active *
       color: colors.button-active-text

.window .shade
.window .close
.window .window-button-left
.window .window-button-right
    height:           widgetHeaderSize
    width:            widgetHeaderSize
    margin-bottom:  - widgetBorderWidth
    noSelection()
    handCursor()
    &:hover *
        color: colors.button-hover-text
    &:active *
        color: colors.button-active-text

// ____________________________________ console

.console-window
    .content
        padding: 0
        margin: 0
        background-color: colors.console
        *
            margin:  0px

.console
    background-color: colors.console
    color:            textColors.console
    padding-bottom: 6px
    padding-left:   8px
    padding-top:    6px

.console-error
    color:          textColors.console-error
    font-size:      24px

.console-warning
    color:          textColors.console-warning
    font-size:      18px

.console-type
    color: textColors.console-type

.console-punct
    color: textColors.console-punct

.console-link
    cursor: alias

.console-class
    display: inline-block
    min-width: 100px
    color: darken(textColors.link, 20)
    &:hover
        color: textColors.link-hover

.console-method-type
    display: inline-block
    min-width: 12px
    color: darken(textColors.link, 50)

.console-method
    display: inline-block
    min-width: 140px

.console .octicon
    color: textColors.console-punct
    font-size: 19px
    top: 2px;
    position: relative;

// ____________________________________ scroll

.scroll
    overflow:         hidden
    noSelection()
    border-radius:    widgetTopRadius
    border:           borders.scroll
    background-color: colors.scroll
    box-sizing:       border-box

.scroll-handle
    position:         relative
    border-radius:    widgetTopRadius - scrollBorderWidth
    border:           0
    background-color:     colors.scroll-handle
    &:hover
        background-color: colors.scroll-handle-hover
    &:active
        background-color: colors.scroll-handle

// ____________________________________ slider

.slider
    max-height:       valueHeight
    overflow:         hidden
    border-radius:    widgetTopRadius
    background-color: colors.slider
    &:hover
        background-color: colors.slider-hover

.slider-bar
    position:         relative
    box-sizing:       border-box
    border:                       borders.slider
    border-top-right-radius:      knobSize + sliderBorderWidth
    border-bottom-right-radius:   knobSize + sliderBorderWidth
    border-top-left-radius:       valueHeight
    border-bottom-left-radius:    valueHeight
    height:                       valueHeight
    max-height:                   valueHeight
    margin:           0
    padding:          0
    background-color: colors.slider-bar

.slider-knob
    border:           0
    position:         absolute
    right:            0
    top:              ( valueHeight - 2 * sliderBorderWidth - knobSize ) * 0.5
    border-radius:    knobSize
    height:           knobSize
    width:            knobSize
    min-height:       knobSize
    min-width:        knobSize
    background-color: colors.slider-knob
    &:hover
      background-color: colors.slider-knob-hover
    &:active
      background-color: colors.slider-knob

// ____________________________________ connections

.connector
    overflow:         hidden
    min-width:        valueHeight
    min-height:       valueHeight
    max-width:        valueHeight
    max-height:       valueHeight
    border-radius:    valueHeight
    border:           borders.connector
    box-sizing:       border-box
    background-clip:  padding-box
    shadowInner()
    &.out
    &.signal
        background-color:       colors.connector-signal
        &.connected
            background-color:   colors.connector-signal-connected
            border:             borders.connector-signal-connected
        &.highlight
            border:             borders.connector-signal-highlight
    &.in
    &.slot
        background-color:       colors.connector-slot
        &.connected
            background-color:   colors.connector-slot-connected
            border:             borders.connector-slot-connected
        &.highlight
            border:             borders.connector-slot-highlight

.path
    stroke-width:     pathStrokeWidth
    filter:           drop-shadow( shadowDef )

.connector

    stroke:           colors.connector-unconnectable

.connectable

    stroke:           colors.connector-connectable

.connection

    stroke:           colors.connection
    stroke-width:     connectionStrokeWidth

.highlight
    stroke:           colors.connection-highlight

// ____________________________________ spin

.spin
.spinner
    height:           valueHeight
    overflow:         hidden
    handCursor()
    border-radius:    widgetTopRadius
    border:           borders.spin
    background-color: colors.spin

.spin-table
.spin-row
.spin-td
    border-collapse:  collapse
    margin:   0
    padding:  0
    max-height:       valueHeight

.spin-content
    position:         relative
    width:            100%
    max-height:       valueHeight
    margin:           0
    padding:          0
    font-size:        12px
    background-color: colors.spin-input
    &:hover
        background-color:   colors.spin-input-hover

.spinner .spin-content
    text-align:       center
    color:            colors.spin-active

.spinner-knob
    position:         absolute
    top:              0
    height:           spinnerKnobSize
    background-color: colors.spinner-knob

.spin-input
    textCursor()
    padding:          0
    margin:           0
    border:           0
    text-align:       center
    background-color: transparent
    color:            colors.spin-active
    box-sizing:       border-box
    font-weight:      bold
    font-size:        16px
    position:         absolute
    top:              0px
    height:           valueHeight
    width:            100%
    &::-moz-selection
      background:     colors.spin-active
      color:          black

// ____________________________________ position

.relative
    position:         relative
    display:          block

.top-right
    position:         absolute
    top:              0px
    right:            0px

.top-left
    position:         absolute
    top:              0px
    left:             0px
