
@import 'scheme-dark.styl'

// ____________________________________ functions

shadow()
    -webkit-box-shadow: shadowDef
    box-shadow:         shadowDef

defaultCursor()
    cursor:             default

handCursor()
    cursor:             pointer

textCursor()
    cursor:             text
    -moz-user-select:   text

bgColorHover(c)
    background-color:   c
    &:hover
        background-color: lighten(c, 5)
    &:active
        background-color: lighten(c, 10)

noSelection()
    user-select:        none
    -moz-user-select:   none

// ____________________________________ icons

.icon
  width:                20px
  height:               20px
  border:               0px
  background-color:     transparent
  text-align:           center
  vertical-align:       top
  color:                widgetColors.bg
  &:hover
      color:            textColors.button-hover
  &:active
      color:            textColors.button-active

  .octicon
      position: relative
      top: -2px

.menu .icon
      width:                30px
      height:               30px
      color:                textColors.menu
      &:hover
          color:            textColors.menu-hover
      &:active
          color:            textColors.menu-active
      .octicon
          top: 0px

// ____________________________________ toplevel

body
    font-family:      "Verdana"
    height:           100%
    margin:           0px

html
    height:           100%

canvas
    background-color: rgba(255,0,0,0.5)

a
    text-decoration: none
    color:           #63c0f5
    text-shadow:     0 0 5px rgba(104, 182, 255, 0.5)

#stage
    position:         relative
    width:            100%
    height:           100%
    overflow:         hidden
    color:            textColors.global
    user-select:      none

#stage_content
    position:         relative
    width:            100%
    height:           100%
    overflow:         hidden
    background-color: widgetColors.stage

#stage_svg
    position:         absolute
    width:            100%
    height:           100%
    background-color: rgba(0,0,0,0)

#stage_canvas
    position:         absolute
    width:            100%
    height:           100%
    background-color: rgba(255,255,255,0.15)

.tiny-text
    font-size:        10px
    color:            textColors.discreet

// ____________________________________ button

.button
    handCursor()
    noSelection()
    overflow:         hidden
    box-sizing:       border-box
    padding-left:     6px
    padding-right:    6px
    text-align:       center
    font-size:        14px
    font-weight:      bold
    border-radius:    buttonRadius
    border:           widgetBorders.button
    background-color: widgetColors.button
    color:            textColors.button
    height:           buttonHeight
    &:hover
        background-color: widgetColors.button-hover
        color:            textColors.button-hover
    &:active
        background-color: widgetColors.button-active
        color:            textColors.button-active

.tool-button
  padding-left: 0
  padding-right: 0

// ____________________________________ menus

.menu
    position:         absolute
    height:           menuHeight
    overflow:         hidden
    & > *
        noSelection()
        color:        textColors.menu

#menu
    border-bottom-right-radius: 6px

#tool
    border-bottom-left-radius: 6px

.menu .button
    overflow:         hidden
    float:            left
    font-weight:      normal
    height:           menuHeight
    padding-top:      2px
    bgColorHover(     widgetColors.menu )
    border-radius:    0
    &:hover
        color: textColors.menu-hover
    &:active
        color: textColors.menu-active

// ____________________________________ windows

.window
    position:         absolute
    overflow:         hidden
    border:           widgetBorders.bg
    background-color: widgetColors.bg
    border-top-left-radius:     widgetTopRadius
    border-top-right-radius:    widgetTopRadius
    border-bottom-left-radius:  widgetBotRadius
    border-bottom-right-radius: widgetBotRadius
    shadow()

.content
    padding-left:  10px
    padding-right: 10px
    padding-top:   10px

.content > div
    margin-bottom: 10px

.window .title
    color:            textColors.title
    height:           widgetHeaderSize
    text-align:       center
    vertical-align:   top
    overflow:         hidden
    font-size:        widgetTitleFontSize
    border-bottom:    widgetBorders.title
    bgColorHover(widgetColors.title)
    noSelection()
    defaultCursor()

.window .close
.window .window-button-left
    float:            left
    width:            widgetHeaderSize
    height:           widgetHeaderSize
    border-right:     widgetBorders.close
    border-bottom:    widgetBorders.close
    margin-bottom:  - widgetBorderWidth
    bgColorHover(widgetColors.close)
    noSelection()
    handCursor()

.window .shade
.window .window-button-right
    float:            right
    height:           widgetHeaderSize
    border-left:      widgetBorders.shade
    border-bottom:    widgetBorders.close
    margin-bottom:  - widgetBorderWidth
    bgColorHover(widgetColors.shade)
    noSelection()
    handCursor()

.window .shade
   width:             widgetHeaderSize

.window .size
    position:         absolute
    bottom:           0px
    right:            0px
    width:            widgetHeaderSize * 0.5
    height:           widgetHeaderSize * 0.5
    border-left:      widgetBorders.size
    border-top:       widgetBorders.size
    background-color: widgetColors.size
    &:hover
        background-color: darken(widgetColors.size, 2)
    &:active
        background-color: lighten(widgetColors.size, 10)

// ____________________________________ console

.console-window
    .content
        padding: 0
        margin: 0
        background-color: widgetColors.console
        *
            margin:  0px

.console
    background-color: widgetColors.console
    if textColors.console
        color:      textColors.console
    padding-bottom: 6px
    padding-left:   8px
    padding-top:    6px

// ____________________________________ scroll

.scroll
    overflow:         hidden
    noSelection()
    border-radius:    widgetTopRadius
    border:           widgetBorders.scroll
    background-color: widgetColors.scroll
    box-sizing:       border-box

.scroll-handle
    position:         relative
    border-radius:    widgetTopRadius - scrollBorderWidth
    border:           0
    background-color: widgetColors.scroll-handle
    &:hover
        background-color: widgetColors.scroll-handle-hover
    &:active
        background-color: widgetColors.scroll-handle

// ____________________________________ slider

.slider
    height:           sliderHeight
    overflow:         hidden
    border-radius:    widgetTopRadius
    background-color: widgetColors.slider

barSize = sliderHeight

.slider-bar
    position:         relative
    box-sizing:       border-box
    border:           widgetBorders.slider
    border-top-left-radius:      barSize
    border-bottom-left-radius:   barSize
    height:           barSize
    max-height:       barSize
    margin: 0
    padding: 0
    background-color: widgetColors.slider-bar

knobSize = barSize - sliderBorderWidth * 2

.slider-knob
    opacity: 0.5
    float:            right
    margin-right:     - knobSize * 0.5
    border:           0
    border-radius:    knobSize
    height:           knobSize
    width:            knobSize
    background-color: widgetColors.scroll-handle
    &:hover
      background-color: widgetColors.scroll-handle-hover
    &:active
      background-color: widgetColors.scroll-handle

.connector
    overflow:         hidden
    min-width:        valueHeight
    min-height:       valueHeight
    max-width:        valueHeight
    max-height:       valueHeight
    background-color: widgetColors.slider-bar
    border-radius:    sliderHeight

// ____________________________________ value

.value
    height:           valueHeight
    overflow:         hidden
    handCursor()
    border-radius:    widgetTopRadius
    border:           widgetBorders.value
    background-color: widgetColors.value

.value-table
.value-row
.value-td
    border-collapse: collapse
    margin:   0
    padding:  0
    max-height:           valueHeight

.value-content
    position:         relative
    width:            100%
    max-height:           valueHeight
    margin:           0
    padding:          0
    background-color: widgetColors.value-input

.value-input
    textCursor()
    padding:          0
    margin:           0
    border:           0
    text-align:       center
    background-color: transparent
    color:            widgetColors.value-active
    box-sizing:       border-box
    font-weight:      bold
    font-size:        16px
    position:         absolute
    top:              0px
    height:           valueHeight
    width:            100%
    &::-moz-selection
      background:     widgetColors.value-active
      color:          black

// ____________________________________ position

.relative
    position:         relative
    display:          block

.top-right
    position:         absolute
    top:              0px
    right:            0px

.top-left
    position:         absolute
    top:              0px
    left:             0px
