/*
*   0000000  000000000  000   000  000      00000000
*  000          000      000 000   000      000     
*  0000000      000       00000    000      0000000 
*       000     000        000     000      000     
*  0000000      000        000     0000000  00000000
*/

shadow()
    -webkit-box-shadow: shadowDef
    box-shadow:         shadowDef

shadowInner()
    -webkit-box-shadow: shadowInnerDef
    box-shadow:         shadowInnerDef

defaultCursor()
    cursor:             default

handCursor()
    cursor:             pointer

bgColorHover(c)
    background-color:   c
    &:hover
        background-color: lighten(c, 5)
    &:active
        background-color: lighten(c, 10)

noSelection()
    user-select:        none
    -moz-user-select:   none

*
    noSelection()

textCursor()
    cursor:             text
    -moz-user-select:   text
    -user-select:       text

/*
*  000000000   0000000   00000000   000      00000000  000   000  00000000  000    
*     000     000   000  000   000  000      000       000   000  000       000    
*     000     000   000  00000000   000      0000000    000 000   0000000   000    
*     000     000   000  000        000      000          000     000       000    
*     000      0000000   000        0000000  00000000      0      00000000  0000000
*/

body
    font-family:      "Verdana"
    height:           100%
    margin:           0px

html
    height:           100%

canvas
    background-color: rgba(255,0,0,0.5)

a
    text-decoration: none
    color:           textColors.link
    &:hover
        color:       textColors.link-hover

#stage
    position:         relative
    width:            100%
    height:           100%
    overflow:         hidden
    color:            textColors.global
    // user-select:      none

#stage_content
    position:         relative
    width:            100%
    height:           100%
    overflow:         hidden
    background-color: colors.stage

#stage_svg
    position:         absolute
    width:            100%
    height:           100%
    background-color: rgba(0,0,0,0)

#stage_canvas
    position:         absolute
    width:            100%
    height:           100%
    background-color: rgba(255,255,255,0.15)

.tiny-text
    font-size:        10px
    color:            textColors.discreet

/*
*  000   0000000   0000000   000   000
*  000  000       000   000  0000  000
*  000  000       000   000  000 0 000
*  000  000       000   000  000  0000
*  000   0000000   0000000   000   000
*/

.icon
  width:                20px
  height:               20px
  border:               0px
  background-color:     transparent
  text-align:           center
  vertical-align:       top
  padding-top:          2px
  color:                colors.bg
  &:hover
      color:            colors.button-hover-text
  &:active
      color:            colors.button-active-text

.menu .icon
      width:                30px
      height:               30px
      color:                textColors.menu
      &:hover
          color:            textColors.menu-hover
      &:active
          color:            textColors.menu-active
      .octicon
          top: 0px
    
/*
*  0000000    000   000  000000000  000000000   0000000   000   000
*  000   000  000   000     000        000     000   000  0000  000
*  0000000    000   000     000        000     000   000  000 0 000
*  000   000  000   000     000        000     000   000  000  0000
*  0000000     0000000      000        000      0000000   000   000
*/

.button
    handCursor()
    overflow:             hidden
    box-sizing:           border-box
    padding-left:         6px
    padding-right:        6px
    text-align:           center
    font-size:            14px
    font-weight:          bold
    border-radius:        buttonRadius
    border:               borders.button
    background-color:     colors.button
    color:                textColors.button
    height:               buttonHeight
    &:hover
        background-color: colors.button-hover
        color:            colors.button-hover-text
    &:hover *
        color:            colors.button-hover-text
    &:active
        background-color: colors.button-active
        color:            colors.button-active-text
    &:hover *
        color:            colors.button-active-text

.value-button
    handCursor()
    overflow:             hidden
    font-size:            13px
    padding-left:         6px
    padding-right:        6px
    font-weight:          bold
    border-radius:        valueRadius
    border:               borders.button
    background-color:     colors.button
    color:                textColors.button
    height:               buttonHeight
    &:hover
        background-color: colors.button-hover
        color:            colors.button-hover-text
    &:hover *
        color:            colors.button-hover-text
    &:active
        background-color: colors.button-active
        color:            colors.button-active-text
    &:hover *
        color:            colors.button-active-text

.context-menu .content .icon
    padding-top: 2px
    padding-left: 5px
    padding-right: 4px
 
.submenu .button
.context-menu .button
    text-align: left
    padding-right: 9px 

.tool-button
    padding-left: 0
    padding-right: 0
    border-radius: 0
    
/*
*  000000000   0000000    0000000    0000000   000      00000000
*     000     000   000  000        000        000      000     
*     000     000   000  000  0000  000  0000  000      0000000 
*     000     000   000  000   000  000   000  000      000     
*     000      0000000    0000000    0000000   0000000  00000000
*/

.toggle
    text-align:           left
    background-color:     colors.toggle
    color:                colors.toggle-text

    & > .octicon
      padding-right:      6px

    &:hover
        background-color: colors.toggle-hover
        color:            colors.toggle-hover-text
    &:hover *
        color:            colors.toggle-hover-text
    &:active
        background-color: colors.toggle-active
        color:            colors.toggle-active-text
    &:hover *
        color:            colors.toggle-active-text

.toggle.on
    background-color:     colors.toggle-on
    color:                colors.toggle-on-text

.toggle.off
    background-color:     colors.toggle-off
    color:                colors.toggle-off-text

/*
*  00     00  00000000  000   000  000   000
*  000   000  000       0000  000  000   000
*  000000000  0000000   000 0 000  000   000
*  000 0 000  000       000  0000  000   000
*  000   000  00000000  000   000   0000000 
*/

.menu
    position:         absolute
    height:           menuHeight
    overflow:         hidden
    & > *
        color:        textColors.menu

#menu
    border-bottom-right-radius: 6px

#tool
    border-bottom-left-radius: 6px

.menu .button
    overflow:         hidden
    float:            left
    font-weight:      normal
    height:           menuHeight
    padding-top:      2px
    bgColorHover(     colors.menu )
    border-radius:    0
    &:hover
        color: textColors.menu-hover
    &:active
        color: textColors.menu-active

.submenu 
    overflow: visible
    & .button
        float: none

/*
*  000   000  000  000   000  0000000     0000000   000   000
*  000 0 000  000  0000  000  000   000  000   000  000 0 000
*  000000000  000  000 0 000  000   000  000   000  000000000
*  000   000  000  000  0000  000   000  000   000  000   000
*  00     00  000  000   000  0000000     0000000   00     00
*/

.content
    padding-left:  10px
    padding-right: 10px
    padding-top:   10px

.window
    position:         absolute
    overflow:         hidden
    border:               borders.bg
    background-color:     colors.bg
    border-top-left-radius:     widgetTopRadius
    border-top-right-radius:    widgetTopRadius
    border-bottom-left-radius:  widgetBotRadius
    border-bottom-right-radius: widgetBotRadius
    shadow()
    &.tooltip
        border:           0px solid black

.content > div
    margin-bottom: 10px

.window .title
    color:            textColors.title
    height:           widgetHeaderSize
    text-align:       center
    vertical-align:   top
    overflow:         hidden
    font-size:        widgetTitleFontSize
    border-bottom:    borders.title
    bgColorHover(colors.title)
    defaultCursor()

.window .close
.window .window-button-left
    float:            left
    border-right:     borders.title
    border-bottom:    borders.title
    bgColorHover(colors.close)
    box-sizing: inherit

.window .shade
.window .window-button-right
    float:            right
    border-left:      borders.title
    border-bottom:    borders.title
    bgColorHover(colors.shade)
    box-sizing: inherit

.window .shade
   width:             widgetHeaderSize

.window .shade
.window .close
   & *
       color: colors.title
   &:hover *
       color: colors.button-hover-text
   &:active *
       color: colors.button-active-text

.window .shade
.window .close
.window .window-button-left
.window .window-button-right
    height:           widgetHeaderSize
    width:            widgetHeaderSize
    margin-bottom:  - widgetBorderWidth
    handCursor()
    &:hover *
        color: colors.button-hover-text
    &:active *
        color: colors.button-active-text

/*
*   0000000   0000000   000   000   0000000   0000000   000      00000000
*  000       000   000  0000  000  000       000   000  000      000     
*  000       000   000  000 0 000  0000000   000   000  000      0000000 
*  000       000   000  000  0000       000  000   000  000      000     
*   0000000   0000000   000   000  0000000    0000000   0000000  00000000
*/

.console-window
    .content
        padding: 0
        margin: 0
        background-color: colors.console
        *
            margin:  0px

.console
    background-color: colors.console
    color:            textColors.console
    padding-bottom: 6px
    padding-left:   8px
    padding-top:    6px
    & *
      textCursor()

.console-error
    color:          textColors.console-error
    font-size:      24px

.console-warning
    color:          textColors.console-warning
    font-size:      18px

.console-type
    color: textColors.console-type

.console-punct
    color: textColors.console-punct

.console-link
    cursor: alias

.console-class
    display: inline-block
    min-width: 100px
    color: darken(textColors.link, 20)
    &:hover
        color: textColors.link-hover

.console-method-type
    display: inline-block
    min-width: 12px
    color: darken(textColors.link, 50)

.console-method
    display: inline-block
    min-width: 140px

.console .octicon
    color: textColors.console-punct
    font-size: 19px
    top: 2px;
    position: relative;

/*
*   0000000   0000000  00000000    0000000   000      000    
*  000       000       000   000  000   000  000      000    
*  0000000   000       0000000    000   000  000      000    
*       000  000       000   000  000   000  000      000    
*  0000000    0000000  000   000   0000000   0000000  0000000
*/

.scroll
    overflow:         hidden
    // noSelection()
    border-radius:    widgetTopRadius
    border:           borders.scroll
    background-color: colors.scroll
    box-sizing:       border-box

.scroll-handle
    position:         relative
    border-radius:    widgetTopRadius - scrollBorderWidth
    border:           0
    background-color:     colors.scroll-handle
    &:hover
        background-color: colors.scroll-handle-hover
    &:active
        background-color: colors.scroll-handle

/*
*   0000000  000      000  0000000    00000000  00000000 
*  000       000      000  000   000  000       000   000
*  0000000   000      000  000   000  0000000   0000000  
*       000  000      000  000   000  000       000   000
*  0000000   0000000  000  0000000    00000000  000   000
*/

.slider
    max-height:       valueHeight
    overflow:         hidden
    border-radius:    valueRadius
    background-color: colors.slider
    &:hover
        background-color: colors.slider-hover

.slider-bar
    position:         relative
    box-sizing:       border-box
    border:                       borders.slider
    border-top-right-radius:      knobSize + sliderBorderWidth
    border-bottom-right-radius:   knobSize + sliderBorderWidth
    border-top-left-radius:       valueHeight
    border-bottom-left-radius:    valueHeight
    height:                       valueHeight
    max-height:                   valueHeight
    margin:           0
    padding:          0
    background-color: colors.slider-bar

.slider-knob
    border:           0
    position:         absolute
    right:            0
    top:              ( valueHeight - 2 * sliderBorderWidth - knobSize ) * 0.5
    border-radius:    knobSize
    height:           knobSize
    width:            knobSize
    min-height:       knobSize
    min-width:        knobSize
    background-color: colors.slider-knob
    &:hover
      background-color: colors.slider-knob-hover
    &:active
      background-color: colors.slider-knob

/*
*   0000000   0000000   000   000  000   000  00000000   0000000  000000000   0000000   00000000 
*  000       000   000  0000  000  0000  000  000       000          000     000   000  000   000
*  000       000   000  000 0 000  000 0 000  0000000   000          000     000   000  0000000  
*  000       000   000  000  0000  000  0000  000       000          000     000   000  000   000
*   0000000   0000000   000   000  000   000  00000000   0000000     000      0000000   000   000
*/

.connector
    overflow:         hidden
    min-width:        valueHeight
    min-height:       valueHeight
    max-width:        valueHeight
    max-height:       valueHeight
    border-radius:    valueHeight
    border:           borders.connector
    box-sizing:       border-box
    background-clip:  padding-box
    shadowInner()
    &.out
    &.signal
        background-color:       colors.connector-signal
        &.connected
            background-color:   colors.connector-signal-connected
            border:             borders.connector-signal-connected
        &.highlight
            border:             borders.connector-signal-highlight
    &.in
    &.slot
        background-color:       colors.connector-slot
        &.connected
            background-color:   colors.connector-slot-connected
            border:             borders.connector-slot-connected
        &.highlight
            border:             borders.connector-slot-highlight

.connector-handle
    handCursor()
    position:         absolute
    box-sizing:       border-box
    border-radius:    10px
    width:            20px
    height:           20px
    margin-left:      - 10px
    margin-top:       - 10px
    background-color: colors.button-hover

.connector-handle.highlight
    background-color: colors.connector-connectable

.path
    stroke-width:     pathStrokeWidth

.connector

    stroke:           colors.connector-unconnectable
    filter:           drop-shadow( shadowDef )

.connectable

    stroke:           colors.connector-connectable

/*
*   0000000   0000000   000   000  000   000  00000000   0000000  000000000  000   0000000   000   000
*  000       000   000  0000  000  0000  000  000       000          000     000  000   000  0000  000
*  000       000   000  000 0 000  000 0 000  0000000   000          000     000  000   000  000 0 000
*  000       000   000  000  0000  000  0000  000       000          000     000  000   000  000  0000
*   0000000   0000000   000   000  000   000  00000000   0000000     000     000   0000000   000   000
*/

.connection

    stroke:           colors.connection
    stroke-width:     connectionStrokeWidth
    filter:           drop-shadow( shadowDef )

.highlight
    stroke:           colors.connection-highlight

/*
*  00000000    0000000   0000000  
*  000   000  000   000  000   000
*  00000000   000000000  000   000
*  000        000   000  000   000
*  000        000   000  0000000  
*/

.pad
    background-color: colors.pad
    shadowInner()
    border-radius:    buttonRadius
    
.pad-path
    stroke:           colors.pad-path
    stroke-width:     padPathWidth

.pad-ruler
    stroke:           colors.pad-handle
    stroke-width:     padRulerWidth

.pad_handle
    fill:             colors.pad-handle
    
/*
*   0000000  00000000   000  000   000
*  000       000   000  000  0000  000
*  0000000   00000000   000  000 0 000
*       000  000        000  000  0000
*  0000000   000        000  000   000
*/

.spin
.spinner
    height:           valueHeight
    overflow:         hidden
    handCursor()
    border-radius:    valueRadius
    border:           borders.spin
    background-color: colors.spin

.spin-table
.spin-row
.spin-td
    border-collapse:  collapse
    margin:   0
    padding:  0
    max-height:       valueHeight

.spin-content
    position:         relative
    width:            100%
    max-height:       valueHeight
    margin:           0
    padding:          0
    font-size:        12px
    background-color: colors.spin-input
    &:hover
        background-color:   colors.spin-input-hover

.spinner .spin-content
    text-align:       center
    color:            colors.spin-active

.spinner-knob
    position:         absolute
    top:              0
    height:           spinnerKnobSize
    background-color: colors.spinner-knob

.spin-input
    textCursor()
    padding:          0
    margin:           0
    border:           0
    text-align:       center
    background-color: transparent
    color:            colors.spin-active
    box-sizing:       border-box
    font-weight:      bold
    font-size:        16px
    position:         absolute
    top:              0px
    height:           valueHeight
    width:            100%
    &::-moz-selection
      background:     colors.spin-active
      color:          black

@import 'tracker.styl'

/*
*  00     00  000   0000000   0000000
*  000   000  000  000       000     
*  000000000  000  0000000   000     
*  000 0 000  000       000  000     
*  000   000  000  0000000    0000000
*/

.register-key
    border: 1px red solid

.analyser 
    color: colors.analyser
.analyser_trace 
    color: colors.analyser-trace
.analyser_trigger
    color: colors.analyser-trigger

.about-svg
    text-align:       center

.about-svg-path
    fill:            textColors.link

/*
*  00000000    0000000    0000000  000  000000000  000   0000000   000   000
*  000   000  000   000  000       000     000     000  000   000  0000  000
*  00000000   000   000  0000000   000     000     000  000   000  000 0 000
*  000        000   000       000  000     000     000  000   000  000  0000
*  000         0000000   0000000   000     000     000   0000000   000   000
*/

.relative
    position:         relative
    display:          block

.top-right
    position:         absolute
    top:              0px
    right:            0px

.top-left
    position:         absolute
    top:              0px
    left:             0px
